body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}
section {
    background-color: white;
}

.hero {
    background-color: rgb(39, 39, 39);
    height: 100vh;
    color: white;
    font-size: 20px;
    align-items: center;
}
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to right, black, white);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 40px;
    position: fixed;
}

ul {
    display: flex;
    list-style: none;
    width: 30vw;
    justify-content: space-between;
    text-transform: lowercase;
    align-items: center;
}

li {
    text-decoration: none;
    padding: 10px;
}

h1 {
    font-size: 90px;
    margin: 0px;
}

h2 {
    font-size: 50px;
}

h3 {
    margin: 0px;
}

h4 {
    margin: 5px;
}

p {
    margin-top: 10px;
    font-size: 2em;
}

footer {
    background-color: rgb(39, 39, 39);
    padding-bottom: 100px;
}

.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
}
.hero-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: transparent;
    border: solid 2px white;
    width: 200px;
    padding:10px;
    border-radius: 50px;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
}

.icon {
    width: 100px;
}

.socials {
    padding-bottom: 200px;
}

.social {
    padding: 15px;
}

.social-icon {
    width: 30px;
    padding-right: 10px;
    padding-top: 10px;
}
svg:hover {
    opacity: .25;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.graphic-container {
    margin: 50px;
}


.graphic {
    width: 275px;
    border-radius: 50%;
}

.project-card {
    width: 300px;
    height: 575px;
    box-shadow: 5px 5px 20px rgb(214, 207, 207);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-container {
        display: flex;
        height: 20vh;
    }

    .features {
        display: flex;
        flex-wrap: wrap;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
    }
}
.project-image {
    padding: 10px;
    border-radius: 50%;
    width:200px;
    height: 200px;
}

.subtext {
    font-size: 17px;
    text-align: left;
    padding:14px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.project-btn {
    background-color: transparent;
    border: solid 2px black;
    border-radius: 50px;
    width: 100px;
    color: black;
}
.project-btn:hover {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h5 {
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
    margin-top: 70px;
}

.contactinfo {
    color: white;
    text-align: center;
    margin: 10px;
}

i {
    color: white;
    font-size: 30px;
    padding: 10px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.skills-container i {
    color: rgb(39, 39, 39);
    font-size: 70px;
}

.skillset {
    flex-direction: column;
    display: flex;
    padding: 30px;
}

#js i{
    color: rgb(207, 187, 0) ;
}

#html i {
    color: #E86C1A ; 
}
#css i {
    color: #E87E17 ; 
}
#node i {
    color: #68E834 ; 
}
#gh i {
    color: #7838E8 ; 
}
#python i {
    color: #E812B1 ; 
}
#react i {
    color: #24C7E8 ; 
}

#footer button {
    width: 275px;
    font-weight: bold;
    padding: 0px;
}

#footer i{
    font-size: 20px;
}

#footer button:hover i {
    color: black;
}

#features {
    background-color: rgba(215, 229, 233, 0.562);
}


.features, ul {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    font-weight:500;
}

.features-list, li {
    padding: 25px;
    text-align: center;
}

.single-feature li{
    width: 150px;
    height: 300px;
    text-align: left;
    align-items: center;
}

.single-feature {
    padding: 5px;
}

.feature-number {
    font-size: 60px;
    text-align: center;
    align-items: center;
    font-weight: 900;
    color:rgb(207, 207, 207);
}
